body{
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins, sans-serif;
    background-image: url(images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%) ;
}
.main--container{
    margin: 0 10%;
    padding: 0;
    display: flex;
}
article{
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
article>h1{
    font-size: 3.2em;
    line-height: 1.1em;
    margin: 0 10% 5% 0;
}
article>p{
    font-size: 16px;
    line-height: 1.5em;
    margin: 0 10% 0 0;
}
div{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form-title{
    text-align: center;
    background-color: hsl(248, 32%, 49%);
    margin: 0 0 5% 0;
}
.form-title>h2{
    font-size: 1.1em;
}
.white-text{
    color: white;
    font-weight: 700;
}
div>h2>span{
    font-weight: 400;
}
.border-style{
    border-radius: 10px;
}
.shadow{
    box-shadow: 0px 8px 0px rgba(0, 0, 0, .2);
}
form{
    background-color: white;
    padding: 7% 7% 5% 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form>input{
    margin: 5% 0 0 0;
    padding: 4% 0;
    width: 100%;
    border: 1px solid #ccc;
}
.validate-input{
    margin: 0 0 3% 0;
    padding: 0;
    position: relative;
    height: 15%;
}
.validate-input input{
    padding: 4% 0;
    border: 1px solid #ccc;
    text-indent: 5%;
}
.validate-input span{
    color: red;
    position: absolute;
    right: 0;
    bottom: -20%;
    font-size: .775em;
    visibility: hidden;
}
.validate-input img{
    width: 5%;
    position: absolute;
    right: 5%;
    top: 22%;
    visibility: hidden;
}
/*Error and success validation*/
.validate-input.error input{
    border-color: hsl(0, 100%, 74%);
    margin: 0 0 5% 0;
}
.validate-input.error span{
    visibility: visible;
    position: absolute;
    bottom: -5%;
}
.validate-input.error img{
    visibility: visible;
}
.validate-input.success input{
    border-color: hsl(154, 59%, 51%);
    margin: 0 0 5% 0;
}
.validate-input.success span{
    visibility: visible;
    color: hsl(154, 59%, 51%);
    position: absolute;
    bottom: -5%;
}
/*Error and success validation*/
button{
    text-transform: uppercase;
    box-shadow: 0 4px 0px hsl(154, 59%, 41%);
    background-color: hsl(154, 59%, 51%);
    border: none;
    margin: 0;
    width: 100%;
    padding: 4% 0;
}
button:hover{
    cursor: pointer;
}
form>p{
    color: hsl(246, 25%, 77%);
    font-size: 11px;
    text-align: center;
    margin-top: 3%;
}
form>p>span{
    color: hsl(0, 100%, 74%);
    font-weight: 700;
}
@media only screen and (max-width:1000px){
    body{
        background-image: url(images/bg-intro-mobile.png);
    }
    .main--container{
        margin: 20% 7% 15% 7%;
        width: 100%;
        flex-direction: column;
    }
    article{
        text-align: center;
    }
    article>h1{
        line-height: 1.3em;
        margin: 0 10% 7% 10%;
        font-size: 1.5em;
    }
    article>p{
        font-size: .875em;
        margin: 0 7% 10% 7%;
    }
    .form-title{
        padding: 3% 0;
        margin: 0 0 7% 0;
    }
    .form-title>h2{
        font-size: .874em;
        margin: 0 20%;
    }
    form>input{
        padding: 7% 0;
    }
    .validate-input{
        margin: 0 0 7% 0;
    }
    .validate-input>input{
        padding: 7% 0;
        border: 1px solid #ccc;
    }
    .validate-input>span{
        bottom: -29%;
        font-size: .675em;
    }   
    .validate-input>img{
        width: 7%;
        top: 25%;
    }
    button{
        padding: 6% 0;
    }
    form>p{
        margin: 5% 10% 0 10%;
    }
}